<div class="card">
    <div class="card-body">
        <h5 class="titulo">Listado de Clientes</h5>
        <table class="table">
            <tr>
                <td>Tomas Gracia</td>
                <td>232323232323232</td>
                <td>01/25</td>
                <td>
                    <i class="far fa-edit text-info"></i>
                    <i class="far fa-trash-alt text-danger"></i>
                </td>
                

            </tr>
            <tr>
                <td>Tomas Gracia</td>
                <td>232323232323232</td>
                <td>01/25</td>
                <td>
                    <i class="far fa-edit text-info"></i>
                    <i class="far fa-trash-alt text-danger"></i>
                </td>
                

            </tr>
    </table>
    </div>
</div>
